@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    color: antiquewhite;
    margin: 0;
    font-family: 'Poppins';

}

.one {
    background: #609966;
    padding: 1em;
    display: flex;
    place-content: space-between;
    nav {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    button {
        color: white;
        background-color: #2a84ce;
        border-radius: 12%;
        cursor: pointer;
        font-size: 1.3em;
        border-color: #2a84ce;
        &:hover{
            background-color: #1265a8;
            border-color: #1265a8;
        }
    }
    
}



h2 {

    font-size: 2.2em;
}

.navbtn {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 10px;
}



.two {
    background: #edf1d6;
    color: black;
    padding: 1em;
    text-align: center;

}

/* .right-col{
    display: inline-block;
} */
h4 {
    font-size: 1.5em;
    margin-bottom: .05em;
}

h3 {
    display: block;
    font-size: 3em;
    margin-block-start: .1em;
    /* margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #40513b;
}

p {
    padding-top: -.3em;
    font-size: 20px;
    letter-spacing: 3.2px;
}

.three {
    background: #9dc08b;
    padding: 1em;

    .skillset {
        /* align-content: center; */
        display: flex;
        // place-content: space-between;
        justify-content: center;
        margin: auto 5em 1em 5em;

        li {
            // padding: .1em;
            font-size: 1.5em;
        }
    }

    .box {
        margin: 2em;
        border-color: black;
        display: inline-block;
        place-content: space-between;
        border: 5px solid black;
        border-radius: 10%;
        padding: 50px;
        //   margin: 2em;

        h5{
            font-size: 30px;
            margin-top: -.5em;
        }
    }

    .skills {
        font-size: 50px;
        text-align: center;
    }
    h5{
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 1.5em;
        color: black;
    }
}


.four {
    background: #40513b;
    padding: 1em;
    text-align: center;
}

span {
    color: black;
}

icons {

    margin: .5em auto -1em auto;
}

p {
    font-size: 1em;
    margin-bottom: -.5em;
}